* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: white;
}

/* home button*/
.navbar-brand {
  font-size: 40px;
}
/* navbar page names - adding border around each page name */

.nav-link{
  border-style: solid;

}


/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.bgimg-1 {
  background-image: url("streaming.jpg");
  min-height: 100%;
  width: max(300vw, 300px);

}
.bgimg-2 {
  background-image: url("streaming.jpg");
  min-height: 100%;
  width: max(300vw, 300px);

}
/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 25%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.grid-sizer,
.grid-item { width: 20%; }
/* 2 columns */
.grid-item--width2 { width: 40%; }
